@media only screen and (max-width: 720px) {
  body {
    padding: 0px;
    margin: 0px;
    width: 100%;
  }
  #home-page-pic {
    height: 200px;
    margin-left: 120px;
    margin-top: 50px;
  }
  #home-page-head {
    font-size: 40px;
    margin-top: 95px;
    margin-left: 10px;
    height: 60px;
    text-shadow: 2px 3px #fff;
  }
  #home-page-head2 {
    font-size: 20px;
    margin-top: 170px;
    margin-left: 20px;
  }
  #home-page {
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 25px;
    min-width: 420px;
    height: 300px;
    -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
            box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
  }
  #home-page a {
    width: 100px;
  }
  #home-page p {
    margin-top: 250px;
    font-size: 14px;
  }
  header {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    height: 40px;
    font-size: 12px;
  }
  header h1 {
    padding-top: 5px;
  }
  .small-header {
    margin: 0;
    padding: 0;
  }
  #container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin: 0;
    display: none;
  }
  #right-content {
    font-size: 14px;
    display: -ms-inline-grid;
    display: inline-grid;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: auto;
    min-width: 200px;
    margin: 0;
    padding: 0;
  }
  #hobbies div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
    font-size: 20px;
    padding: 0;
    margin: 0;
  }
  #hobbies div i {
    font-size: 20px;
  }
  #languages div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
    font-size: 14px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0;
    padding: 0;
  }
  #languages div img {
    width: 20px;
    height: 20px;
    margin: 0;
  }
  #contact {
    font-size: 15px;
  }
  #contact i {
    font-size: 20px;
  }
}

footer {
  margin: 0;
  padding: 0;
}

#education {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
}

#education h3 {
  font-size: 18px;
  padding: 0;
  padding-left: 5px;
  margin: 0;
  margin-bottom: 5px;
}

#education p {
  margin: 5px;
  margin-bottom: 10px;
}

#education .time-period {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

#education .time-period p {
  margin-left: 5px;
}

nav {
  height: 180px;
  margin: 0;
  padding: 0;
}

nav img {
  float: right;
  margin-right: 50px;
  margin-top: 10px;
  border-radius: 50%;
  width: 160px;
}

#main-picture {
  border: 1px solid #fff;
  display: block;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-box-shadow: 2px 2px #000;
          box-shadow: 2px 2px #000;
}

#main-picture:hover {
  -webkit-transform: scale(1.2, 1.2) translateY(20px);
          transform: scale(1.2, 1.2) translateY(20px);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

#menu {
  list-style: none;
}

#menu:not(:target) > a:first-of-type {
  opacity: 1;
  z-index: 1;
}

#menu:not(:target) > .icon-plus:before {
  opacity: 1;
}

#menu:target > a:last-of-type {
  opacity: 1;
  z-index: 1;
}

#menu:target > .icon-minus:before {
  opacity: 1;
}

#menu:target > .menu-item {
  z-index: 3;
}

#menu:target > .menu-item:nth-child(3) {
  -webkit-transform: rotate(65deg) translateY(-110px) rotate(-65deg);
          transform: rotate(65deg) translateY(-110px) rotate(-65deg);
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

#menu:target > .menu-item:nth-child(4) {
  -webkit-transform: rotate(95deg) translateY(-110px) rotate(-95deg);
          transform: rotate(95deg) translateY(-110px) rotate(-95deg);
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

#menu:target > .menu-item:nth-child(5) {
  -webkit-transform: rotate(125deg) translateY(-110px) rotate(-125deg);
          transform: rotate(125deg) translateY(-110px) rotate(-125deg);
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#menu:target > .menu-item:nth-child(6) {
  -webkit-transform: rotate(155deg) translateY(-110px) rotate(-155deg);
          transform: rotate(155deg) translateY(-110px) rotate(-155deg);
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

#menu:target > .menu-item:nth-child(7) {
  -webkit-transform: rotate(185deg) translateY(-110px) rotate(-185deg);
          transform: rotate(185deg) translateY(-110px) rotate(-185deg);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

#menu:target > .menu-item:nth-child(8) {
  -webkit-transform: rotate(215deg) translateY(-110px) rotate(-215deg);
          transform: rotate(215deg) translateY(-110px) rotate(-215deg);
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

.menu-button {
  width: 70px;
  height: 70px;
  position: absolute;
  margin-top: 45px;
  left: 16%;
  border-radius: 50%;
  background: #719192;
  background-size: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

.menu-button span {
  display: block;
  opacity: 1;
  visibility: visible;
}

.menu-item {
  width: 55px;
  height: 55px;
  left: 18%;
  font-size: 150%;
  line-height: 55px;
  margin-top: 55px;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.menu-item a {
  margin-top: 0px;
  margin-left: 0px;
  display: block;
  width: 55px;
}

#menu, .menu-item {
  -webkit-filter: url("#goo-small");
          filter: url("#goo-small");
}

.add-info {
  width: 120px;
  margin: 15px 0px 0px -10px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  border-radius: 10px;
}

.hamburger {
  width: 25px;
  height: 3px;
  background: #f9f7f7;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
  z-index: 3;
}

.hamburger-1 {
  -webkit-transform: translate3d(0, -6.66667px, 0);
          transform: translate3d(0, -6.66667px, 0);
}

.hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  -webkit-transform: translate3d(0, 6.66667px, 0);
          transform: translate3d(0, 6.66667px, 0);
}

li.menu-item a:hover > .add-info {
  -webkit-transform: translate3d(35px, 0, 0);
          transform: translate3d(35px, 0, 0);
}

li a span p {
  margin-top: -15px;
  -webkit-transition-duration: -0.5s;
          transition-duration: -0.5s;
}

@media only screen and (max-width: 420px) {
  #home-page-pic {
    height: 100px;
    margin-left: 55px;
    margin-top: 30px;
  }
  #home-page-head {
    font-size: 20px;
    margin-top: 45px;
    margin-left: 30px;
    text-shadow: 1px 1px #fff;
  }
  #home-page-head2 {
    font-size: 12px;
    margin-top: 90px;
    margin-left: 50px;
  }
  #home-page {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 25px;
    min-width: 287px;
    height: 180px;
    -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
            box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
  }
  #home-page a {
    width: auto;
  }
  #home-page p {
    margin-top: 130px;
    font-size: 10px;
    margin-left: -55px;
  }
}
/*# sourceMappingURL=mobile.css.map */