@-webkit-keyframes scaleIn {
  from {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
    opacity: .5;
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
    opacity: 0;
  }
}

@keyframes scaleIn {
  from {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
    opacity: .5;
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
    opacity: 0;
  }
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

header {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 6;
  height: 60px;
  border-radius: 10px;
  background: #719192;
  margin: 20px -15px 0px -15px;
  -webkit-box-shadow: 2px 2px #222;
          box-shadow: 2px 2px #222;
}

header h1 {
  padding-top: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1px auto;
  text-transform: uppercase;
}

.small-header {
  height: auto;
  border-radius: 4px;
  background: #719192;
  margin: 0px -25px 10px -25px;
  padding-top: 5px;
  -webkit-box-shadow: 1px 1px #222;
          box-shadow: 1px 1px #222;
}

nav {
  min-width: 250px;
  height: 300px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  z-index: 555;
}

nav a img {
  border: 50%;
  width: 200px;
  height: 200px;
}

#main-picture {
  display: none;
  width: 160px;
  height: 160px;
  background-image: url("../img/milos.jpg");
  background-size: 100%;
}

#menu {
  min-width: 250px;
  list-style: none;
}

#menu:not(:target) > a:first-of-type {
  opacity: 1;
  z-index: 1;
}

#menu:not(:target) > .icon-plus:before {
  opacity: 1;
}

#menu:target > a:last-of-type {
  opacity: 1;
  z-index: 1;
}

#menu:target > .icon-minus:before {
  opacity: 1;
}

#menu:target > .menu-item:nth-child(3) {
  -webkit-transform: rotate(20deg) translateY(-150px) rotate(-20deg);
          transform: rotate(20deg) translateY(-150px) rotate(-20deg);
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

#menu:target > .menu-item:nth-child(4) {
  -webkit-transform: rotate(55deg) translateY(-150px) rotate(-55deg);
          transform: rotate(55deg) translateY(-150px) rotate(-55deg);
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

#menu:target > .menu-item:nth-child(5) {
  -webkit-transform: rotate(90deg) translateY(-150px) rotate(-90deg);
          transform: rotate(90deg) translateY(-150px) rotate(-90deg);
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#menu:target > .menu-item:nth-child(6) {
  -webkit-transform: rotate(125deg) translateY(-150px) rotate(-125deg);
          transform: rotate(125deg) translateY(-150px) rotate(-125deg);
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

#menu:target > .menu-item:nth-child(7) {
  -webkit-transform: rotate(160deg) translateY(-150px) rotate(-160deg);
          transform: rotate(160deg) translateY(-150px) rotate(-160deg);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

#menu:target > .menu-item:nth-child(8) {
  -webkit-transform: rotate(195deg) translateY(-150px) rotate(-195deg);
          transform: rotate(195deg) translateY(-150px) rotate(-195deg);
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

.menu-button {
  padding-top: 0px;
  padding-left: 0px;
  width: 170px;
  height: 170px;
  position: absolute;
  margin-top: 80px;
  border-radius: 50%;
  background: url("../img/milos.jpg");
  background-size: 100%;
  left: 11%;
  overflow: hidden;
  text-decoration: none;
  opacity: 0;
  z-index: 0;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.menu-button span {
  visibility: hidden;
  opacity: 0;
}

.menu-button:hover {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

#menu a > .menu-tip {
  background: #719192;
  color: #f9f7f7;
  display: block;
  margin-top: 140px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

ul#menu a:hover > .menu-tip {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  opacity: 1;
  visibility: visible;
}

.menu-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 35%;
  font-size: 200%;
  line-height: 70px;
  margin-top: 130px;
  border-radius: 100%;
  background-color: #719192;
  z-index: 0;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.menu-item a {
  margin-top: 5px;
  margin-left: 5px;
  display: block;
  z-index: 0;
  width: 70px;
  border-radius: 50%;
  color: #f9f7f7;
}

.menu-item a:hover {
  color: #719192;
  background: #f9f7f7;
}

.pulse-ring {
  width: 180px;
  height: 180px;
  border: 2px solid #f9f7f7;
  background-color: #f9f7f7;
  border-radius: 50%;
  position: absolute;
  margin-left: 30px;
  margin-top: 80px;
  -webkit-animation: scaleIn 4s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
          animation: scaleIn 4s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
  z-index: -1;
}

#menu, .menu-item {
  -webkit-filter: url("#goo");
          filter: url("#goo");
}

.add-info {
  width: 150px;
  height: 20px;
  margin: 20px 0px 0px -60px;
  font-size: 15px;
  position: absolute;
  padding-bottom: 5px;
  background: #719192;
  z-index: -50;
  white-space: nowrap;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.menu-item a span {
  visibility: hidden;
  opacity: 0;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

li.menu-item a:hover > .add-info {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transform: translate3d(100px, 0, 0);
          transform: translate3d(100px, 0, 0);
  opacity: 1;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  visibility: visible;
}

li a span p {
  margin: 0;
  margin-top: -25px;
  color: #f9f7f7;
  -webkit-transition-duration: -0.5s;
          transition-duration: -0.5s;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  font-family: "Trebuchet MS",sans-serif;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("../img/bg2.jpg");
  background-repeat: repeat-y;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

#container {
  margin-right: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 4fr;
      grid-template-columns: 2fr 4fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-auto-rows: auto;
  width: auto;
  max-width: 1024px;
  height: auto;
  min-height: 700px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.5);
  border-width: 0px 3px 3px 3px;
  border-radius: 5px;
  border-style: inset;
  border-color: rgba(255, 255, 255, 0.1);
  display: none;
}

.right-content {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 6;
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  font-size: 18px;
  padding: 20px 20px 20px 20px;
  margin: 10px;
  text-align: justify;
  -webkit-box-shadow: 2px 2px #888;
          box-shadow: 2px 2px #888;
  min-width: 180px;
  min-height: 500px;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #719192;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
          animation-name: animatebottom;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

footer {
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  bottom: 0px;
  max-width: 1039px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px -10px 5px -10px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 6;
  display: block;
  height: 40px;
  background-color: #719192;
  -webkit-box-shadow: 1px 1px #222;
          box-shadow: 1px 1px #222;
}

.left-align-text {
  text-align: left;
}

#hobbies {
  padding-top: 30px;
  font-size: 22px;
  margin-top: 15px;
  text-align: center;
}

#hobbies div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#hobbies div i {
  text-align: right;
  font-size: 35px;
  color: #719192;
  margin-top: 15px;
  padding: 8px;
}

#hobbies div a {
  text-align: left;
  padding: 8px;
}

#languages {
  text-align: center;
  padding-top: 30px;
  font-size: 22px;
}

#languages div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#languages div > :hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

#languages img {
  float: left;
  width: 50px;
  height: 50px;
  padding-right: 15px;
  margin-top: -10px;
  padding-left: 10px;
}

#languages a {
  font-size: 20px;
  margin-top: 25px;
  padding-left: 20px;
}

#home-page-pic {
  height: 400px;
  position: absolute;
  margin-left: 210px;
  margin-top: 50px;
  z-index: -1;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#home-page-head {
  font-size: 70px;
  position: absolute;
  padding: 15px;
  text-align: left;
  margin-top: 163px;
  margin-left: 20px;
  height: 80px;
  z-index: -2;
  white-space: nowrap;
  text-shadow: 2px 4px #fff;
}

#home-page-head2 {
  font-size: 30px;
  position: absolute;
  margin-top: 280px;
  margin-left: 40px;
  text-shadow: 1px 1px #fff;
}

#home-page {
  display: none;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50px;
  width: auto;
  min-width: 720px;
  height: 500px;
  -webkit-box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
}

#home-page a {
  width: 150px;
  border: 5px solid #719192;
  border-radius: 5px 5px 20px 5px;
  background: #719192;
  position: absolute;
  text-decoration: none;
  color: #fff;
  -webkit-box-shadow: 2px 2px #000;
          box-shadow: 2px 2px #000;
  display: inline-block;
  margin-left: 15px;
  margin-top: -5px;
  z-index: 999;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

#home-page a:hover {
  color: #719192;
  background-color: #fff;
  border: 5px solid #fff;
  -webkit-transition: border-color 0.1s linear;
  transition: border-color 0.1s linear;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

#home-page a:hover:after {
  -webkit-animation: slide-in-blurred-right 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
          animation: slide-in-blurred-right 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
  content: "->";
}

#home-page p {
  margin-top: 440px;
  font-size: 28px;
  font-style: italic;
  margin-left: -105px;
  z-index: 8;
}

.slide-left {
  -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
          animation: slide-in-blurred-left 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.slide-left:nth-child(2) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.slide-left:nth-child(3) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.slide-left:nth-child(4) {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

.slide-right {
  -webkit-animation: slide-in-blurred-right 1.2s cubic-bezier(0.23, 1, 0.32, 1) both;
          animation: slide-in-blurred-right 1.2s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.puff {
  -webkit-animation: puff-in-center 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
          animation: puff-in-center 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

#education {
  display: block;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-auto-rows: auto;
  margin-left: 5px;
  text-align: left;
}

#education h3 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 6;
  text-align: left;
  margin-left: -30px;
  margin-right: -25px;
  padding-left: 15px;
}

#education p {
  margin-left: 10px;
}

#education .time-period {
  padding: 5px;
  margin-bottom: 5px;
  text-align: left;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px #999;
          box-shadow: 1px 1px #999;
  background-color: rgba(255, 255, 255, 0.3);
}

#education .time-period p {
  margin-right: 5px;
  margin-left: 5px;
  white-space: nowrap;
}

#contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-auto-rows: auto;
}

#contact p {
  display: inline-block;
}

#contact p a {
  text-decoration: none;
  color: #719192;
}

#contact p a:hover {
  color: #000;
  text-shadow: 0.5px 0.5px #fff;
}

#contact i {
  font-size: 40px;
  padding-right: 15px;
  padding-top: 20px;
  padding-left: 20px;
  color: #719192;
}

#portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.project {
  margin: 5px 7.5px 5px 7.5px;
  width: 220px;
  height: 280px;
  display: block;
  -webkit-box-shadow: 1px 1px #999;
          box-shadow: 1px 1px #999;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center flex-start;
      -ms-flex-pack: center flex-start;
          justify-content: center flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.project img {
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  width: 160px;
  height: 110px;
  border: 5px solid;
  border-color: #719192;
  border-radius: 35px 0px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  z-index: 5;
}

.project img:hover {
  -webkit-transform: scale(1.2, 1.2) translateY(20px);
          transform: scale(1.2, 1.2) translateY(20px);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.project h3 {
  font-size: 16px;
  text-align: center;
  margin: 5px -5px 10px -5px;
}

.project h6 {
  margin: 0;
  margin-top: 10px;
  margin-left: 10px;
}

.project a {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  color: #719192;
  text-shadow: 0px 1px #000;
  text-align: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.project a:hover {
  color: #fff;
  background: #719192;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.project P {
  text-align: justify;
  margin: 0;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
  font-size: 15px;
}

.project P.overflown-p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 10px;
  padding-right: 20px;
  margin-bottom: 10px;
  font-size: 14px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  cursor: pointer;
}

.project P.overflown-p:hover {
  overflow: visible;
  white-space: initial;
  background: #719192;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 14px;
  height: auto;
  z-index: 6;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.project P.date-finished {
  text-align: center;
  margin-top: 0;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 5px;
  z-index: 4;
}
/*# sourceMappingURL=style.css.map */